.page-title {
    margin: 0;
    padding: 16px;
}

.post-editor {
    &__header {
        padding: 16px 8px;
        display: flex;
        align-items: center;

        .header__title {
            margin: 0;
        }
    }

    &__post-form {
        background-color: #424242;
        padding: 16px;
        margin: 0 16px 16px 16px;

        &_title {
            margin: 0;
            padding: 16px;
        }

        &_random-image-toggle {
            display: block;
            color: white;
            margin-bottom: 16px;
        }

        &_attach-image {
            margin-bottom: 16px;
        }

        &_attached-image-name {
            color: white;
            display: inline;
        }

        &_field {
            display: block;
        }

        &_input {
            color: white;
        }
    }
}
