<header class="post-editor__header">
    <button class="header__back-button" mat-icon-button routerLink="/admin">
        <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <h1 class="header__title">Post editor</h1>
</header>
<form #postForm="ngForm" (ngSubmit)="onSubmit()" class="post-editor__post-form">
    <mat-form-field class="post-editor__post-form_field" color="accent">
        <mat-label>Title</mat-label>
        <input
            matInput type="title" [(ngModel)]="title" name="title"
            class="post-editor__post-form_input" required>
    </mat-form-field>
    <mat-slide-toggle #isRandomImage checked class="post-editor__post-form_random-image-toggle">
        Use random image from Unsplash
    </mat-slide-toggle>
    <ng-container *ngIf="!isRandomImage.checked">
        <button mat-mini-fab color="accent" type="button" (click)="fileUpload.click()"
            class="post-editor__post-form_attach-image">
            <mat-icon>attach_file</mat-icon>
        </button>
        <p class="post-editor__post-form_attached-image-name">
            &nbsp;&nbsp;{{ imageFile?.name ?? 'No image uploaded yet (supported images: .png)'}}
        </p>
    </ng-container>
    <mat-form-field class="post-editor__post-form_field" color="accent">
        <mat-label>Content</mat-label>
        <textarea
            matInput rows="15" [(ngModel)]="content" name="content" 
            class="post-editor__post-form_input" required>
        </textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="!postForm.valid" class="post-editor__post-form_submit-button">
        Submit post
    </button>
</form>

<!-- Native input for image -->
<input
    #fileUpload type="file" style="display: none" accept="image/png"
    (change)="onFileSelected($any($event.target).files[0])" />