<ng-container *ngIf="post; else loading">
    <header class="post-detail__header">
        <button class="header__back-button" mat-icon-button routerLink="/">
            <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
        <h1 class="header__title">{{ post.title }}</h1>
    </header>
    <img src="{{ post.imageUrl }}" alt="Post image" class="post-detail__image">
    <p class="post-detail__content">{{ post.content }}</p>
    <h2 class="post-detail__comments-title">Comments &nbsp;<mat-icon inline>forum</mat-icon></h2>
    <app-comment
        class="post-detail__comment mat-elevation-z8"
        *ngFor="let comment of post.comments" [comment]="comment">
     </app-comment>
</ng-container>

<ng-template #loading>
    ...loading post
</ng-template>