<mat-card class="post-card__container">
    <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>Small Blog post</mat-card-subtitle>
    </mat-card-header>
    <img [hidden]="imageLoaded"
        mat-card-image src="{{ post.imageUrl }}" alt="Post image"
        class="post-card__image" (load)="imageLoaded = true">
    <img *ngIf="!imageLoaded" mat-card-image src="assets/images/placeholder.png" alt="Post image placeholder" class="post-card__image">
    <mat-card-content>
        <p>{{ post.content | slice:0:maxCharacters }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
</mat-card>