<mat-card class="post-card__container">
    <mat-card-header>
        <mat-card-title>{{ post.title | sliceWithDots:maxTitleCharacters }}</mat-card-title>
        <mat-card-subtitle>Small Blog post</mat-card-subtitle>
    </mat-card-header>
    <img appWaitWithPlaceholder="assets/images/placeholder.png" mat-card-image src="{{ post.imageUrl }}" alt="Post image"
        class="post-card__image">
    <mat-card-content>
        <p>{{ post.content | sliceWithDots:maxBodyCharacters }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
</mat-card>