.post-card {
    &__container {
        min-width: 320px;
        max-width: 320px;
        &:hover {
            cursor: pointer;
        }
    }

    &__image {
        object-fit: cover;
        max-height: 320px;
    }
}