@import "src/mixins.scss";

:host {
    @include occupy-space-content;
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.post-card {
    margin: 16px;
}