/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    --success-color: green;
    --error-color: red;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 640px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-background {
    color: white;
    background-color: var(--success-color);
}

.error-background {
    color: white;
    background-color: var(--error-color);
}