/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    --success-color: green;
    --error-color: red;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 640px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-background {
    color: white;
    background-color: var(--success-color);
}

.error-background {
    color: white;
    background-color: var(--error-color);
}

.centered-paragraph {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px;
}

.post-detail__image {
    display: block;
    max-width: 100%;
}

// Below is dupliate code in each of the components

// .post-detail, .post-editor {
//     &__header {
//         padding: 16px 8px;
//         display: flex;
//         align-items: center;
    
//         .header__title {
//             margin: 0;
//         }
//     }
// }

// .post-detail__comment-form, .post-editor__post-form {

//     background-color: #424242;
//     padding: 16px;
//     margin: 0 16px 16px 16px;

//     &_title {
//         margin: 0;
//         padding: 16px;
//     }

//     &_field {
//         display: block;
//     }

//     &_input {
//         color: white;
//     }
// }